{% extends 'AppBundle::base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="name">
                <h1>Business Directory</h1>
                <h2>Demo Application</h2>
            </div>
            <div id="info">
                <div>API documentation: <a href="https://github.com/bugness/business-directory/wiki">https://github.com/bugness/business-directory/wiki</a></div>
                <div>Source code: <a href="https://github.com/bugness/business-directory">https://github.com/bugness/business-directory</a></div>
            </div>
        </div>
    </div>
{% endblock %}
